 
 <div class="card" style="width: 13rem;">
	<img src="/static/img/{{p.4}}" class="card-img-top" alt="...">
	<div class="card-body">
	  <h5 class="card-title">{{p.2}}</h5>
	  <p class="card-text">{{p.1}}$</p>
	  <p class="card-text">{{p.3}}</p>
	  <a href="#" class="btn btn-primary">Añadir al carrito</a>
	</div>
  </div>
  (url_for('sUsuario'))
  # , usuario = u
    #  usuario = db.connection.cursor()
    # usuario.execute("SELECT * FROM usuario")
    # u = usuario.fetchall()
 <!-- primeros 4 -->
 <div class="carousel-item active">
	<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
	  <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
		<div class="col hp">
		  <div class="card h-100 shadow-sm">
			<a href="#">
			  <img src="/static/img/{{p.4}}" class="card-img-top" alt="product.title" />
			</a>
			<div class="label-top shadow-sm">
			  <a class="text-white" href="#">SUS</a>
			</div>
			<div class="card-body">
			  <div class="clearfix mb-3">
				<span class="float-start badge rounded-pill bg-success">{{p.1}}</span>
  
				<span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">{{p.3}}</a></span>
			  </div>
			  <h5 class="card-title">
				<a target="_blank" href="#">{{p.2}}</a>
			  </h5>
  
			  <div class="d-grid gap-2 my-4">
  
				<a href="#" class="btn btn-warning bold-btn">Añadir al carrito</a>
  
			  </div>
			  <div class="clearfix mb-1">
  
				<span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
  
				<span class="float-end">
				  <i class="far fa-heart" style="cursor: pointer"></i>
  
				</span>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col hp">
		  <div class="card h-100 shadow-sm">
			<a href="#">
			  <img src="/static/img/{{p.4}}" class="card-img-top" alt="product.title" />
			</a>
			<div class="label-top shadow-sm">
			  <a class="text-white" href="#">SUS</a>
			</div>
			<div class="card-body">
			  <div class="clearfix mb-3">
				<span class="float-start badge rounded-pill bg-success">{{p.1}}</span>
  
				<span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">{{p.3}}</a></span>
			  </div>
			  <h5 class="card-title">
				<a target="_blank" href="#">{{p.2}}</a>
			  </h5>
  
			  <div class="d-grid gap-2 my-4">
  
				<a href="#" class="btn btn-warning bold-btn">Añadir al carrito</a>
  
			  </div>
			  <div class="clearfix mb-1">
  
				<span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
  
				<span class="float-end">
				  <i class="far fa-heart" style="cursor: pointer"></i>
  
				</span>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col hp">
		  <div class="card h-100 shadow-sm">
			<a href="#">
			  <img src="/static/img/{{p.4}}" class="card-img-top" alt="product.title" />
			</a>
			<div class="label-top shadow-sm">
			  <a class="text-white" href="#">SUS</a>
			</div>
			<div class="card-body">
			  <div class="clearfix mb-3">
				<span class="float-start badge rounded-pill bg-success">{{p.1}}</span>
  
				<span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">{{p.3}}</a></span>
			  </div>
			  <h5 class="card-title">
				<a target="_blank" href="#">{{p.2}}</a>
			  </h5>
  
			  <div class="d-grid gap-2 my-4">
  
				<a href="#" class="btn btn-warning bold-btn">Añadir al carrito</a>
  
			  </div>
			  <div class="clearfix mb-1">
  
				<span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
  
				<span class="float-end">
				  <i class="far fa-heart" style="cursor: pointer"></i>
  
				</span>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col hp">
		  <div class="card h-100 shadow-sm">
			<a href="#">
			  <img src="/static/img/{{p.4}}" class="card-img-top" alt="product.title" />
			</a>
			<div class="label-top shadow-sm">
			  <a class="text-white" href="#">SUS</a>
			</div>
			<div class="card-body">
			  <div class="clearfix mb-3">
				<span class="float-start badge rounded-pill bg-success">{{p.1}}</span>
  
				<span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">{{p.3}}</a></span>
			  </div>
			  <h5 class="card-title">
				<a target="_blank" href="#">{{p.2}}</a>
			  </h5>
  
			  <div class="d-grid gap-2 my-4">
  
				<a href="#" class="btn btn-warning bold-btn">Añadir al carrito</a>
  
			  </div>
			  <div class="clearfix mb-1">
  
				<span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
  
				<span class="float-end">
				  <i class="far fa-heart" style="cursor: pointer"></i>
  
				</span>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <!-- segundos 4 -->
  <div class="carousel-item">
	<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
	  <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
		<div class="col hp">
		  <div class="card h-100 shadow-sm">
			<a href="#">
			  <img src="/static/img/{{p.4}}" class="card-img-top" alt="product.title" />
			</a>
			<div class="label-top shadow-sm">
			  <a class="text-white" href="#">SUS</a>
			</div>
			<div class="card-body">
			  <div class="clearfix mb-3">
				<span class="float-start badge rounded-pill bg-success">{{p.1}}</span>
  
				<span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">{{p.3}}</a></span>
			  </div>
			  <h5 class="card-title">
				<a target="_blank" href="#">{{p.2}}</a>
			  </h5>
  
			  <div class="d-grid gap-2 my-4">
  
				<a href="#" class="btn btn-warning bold-btn">Añadir al carrito</a>
  
			  </div>
			  <div class="clearfix mb-1">
  
				<span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
  
				<span class="float-end">
				  <i class="far fa-heart" style="cursor: pointer"></i>
  
				</span>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col hp">
		  <div class="card h-100 shadow-sm">
			<a href="#">
			  <img src="/static/img/{{p.4}}" class="card-img-top" alt="product.title" />
			</a>
			<div class="label-top shadow-sm">
			  <a class="text-white" href="#">SUS</a>
			</div>
			<div class="card-body">
			  <div class="clearfix mb-3">
				<span class="float-start badge rounded-pill bg-success">{{p.1}}</span>
  
				<span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">{{p.3}}</a></span>
			  </div>
			  <h5 class="card-title">
				<a target="_blank" href="#">{{p.2}}</a>
			  </h5>
  
			  <div class="d-grid gap-2 my-4">
  
				<a href="#" class="btn btn-warning bold-btn">Añadir al carrito</a>
  
			  </div>
			  <div class="clearfix mb-1">
  
				<span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
  
				<span class="float-end">
				  <i class="far fa-heart" style="cursor: pointer"></i>
  
				</span>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col hp">
		  <div class="card h-100 shadow-sm">
			<a href="#">
			  <img src="/static/img/{{p.4}}" class="card-img-top" alt="product.title" />
			</a>
			<div class="label-top shadow-sm">
			  <a class="text-white" href="#">SUS</a>
			</div>
			<div class="card-body">
			  <div class="clearfix mb-3">
				<span class="float-start badge rounded-pill bg-success">{{p.1}}</span>
  
				<span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">{{p.3}}</a></span>
			  </div>
			  <h5 class="card-title">
				<a target="_blank" href="#">{{p.2}}</a>
			  </h5>
  
			  <div class="d-grid gap-2 my-4">
  
				<a href="#" class="btn btn-warning bold-btn">Añadir al carrito</a>
  
			  </div>
			  <div class="clearfix mb-1">
  
				<span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
  
				<span class="float-end">
				  <i class="far fa-heart" style="cursor: pointer"></i>
  
				</span>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col hp">
		  <div class="card h-100 shadow-sm">
			<a href="#">
			  <img src="/static/img/{{p.4}}" class="card-img-top" alt="product.title" />
			</a>
			<div class="label-top shadow-sm">
			  <a class="text-white" href="#">SUS</a>
			</div>
			<div class="card-body">
			  <div class="clearfix mb-3">
				<span class="float-start badge rounded-pill bg-success">{{p.1}}</span>
  
				<span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">{{p.3}}</a></span>
			  </div>
			  <h5 class="card-title">
				<a target="_blank" href="#">{{p.2}}</a>
			  </h5>
  
			  <div class="d-grid gap-2 my-4">
  
				<a href="#" class="btn btn-warning bold-btn">Añadir al carrito</a>
  
			  </div>
			  <div class="clearfix mb-1">
  
				<span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
  
				<span class="float-end">
				  <i class="far fa-heart" style="cursor: pointer"></i>
  
				</span>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <!-- terceros 4 -->
  <div class="carousel-item">
	<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
	  <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
		<div class="col hp">
		  <div class="card h-100 shadow-sm">
			<a href="#">
			  <img src="/static/img/{{p.4}}" class="card-img-top" alt="product.title" />
			</a>
			<div class="label-top shadow-sm">
			  <a class="text-white" href="#">SUS</a>
			</div>
			<div class="card-body">
			  <div class="clearfix mb-3">
				<span class="float-start badge rounded-pill bg-success">{{p.1}}</span>
  
				<span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">{{p.3}}</a></span>
			  </div>
			  <h5 class="card-title">
				<a target="_blank" href="#">{{p.2}}</a>
			  </h5>
  
			  <div class="d-grid gap-2 my-4">
  
				<a href="#" class="btn btn-warning bold-btn">Añadir al carrito</a>
  
			  </div>
			  <div class="clearfix mb-1">
  
				<span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
  
				<span class="float-end">
				  <i class="far fa-heart" style="cursor: pointer"></i>
  
				</span>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col hp">
		  <div class="card h-100 shadow-sm">
			<a href="#">
			  <img src="/static/img/{{p.4}}" class="card-img-top" alt="product.title" />
			</a>
			<div class="label-top shadow-sm">
			  <a class="text-white" href="#">SUS</a>
			</div>
			<div class="card-body">
			  <div class="clearfix mb-3">
				<span class="float-start badge rounded-pill bg-success">{{p.1}}</span>
  
				<span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">{{p.3}}</a></span>
			  </div>
			  <h5 class="card-title">
				<a target="_blank" href="#">{{p.2}}</a>
			  </h5>
  
			  <div class="d-grid gap-2 my-4">
  
				<a href="#" class="btn btn-warning bold-btn">Añadir al carrito</a>
  
			  </div>
			  <div class="clearfix mb-1">
  
				<span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
  
				<span class="float-end">
				  <i class="far fa-heart" style="cursor: pointer"></i>
  
				</span>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col hp">
		  <div class="card h-100 shadow-sm">
			<a href="#">
			  <img src="/static/img/{{p.4}}" class="card-img-top" alt="product.title" />
			</a>
			<div class="label-top shadow-sm">
			  <a class="text-white" href="#">SUS</a>
			</div>
			<div class="card-body">
			  <div class="clearfix mb-3">
				<span class="float-start badge rounded-pill bg-success">{{p.1}}</span>
  
				<span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">{{p.3}}</a></span>
			  </div>
			  <h5 class="card-title">
				<a target="_blank" href="#">{{p.2}}</a>
			  </h5>
  
			  <div class="d-grid gap-2 my-4">
  
				<a href="#" class="btn btn-warning bold-btn">Añadir al carrito</a>
  
			  </div>
			  <div class="clearfix mb-1">
  
				<span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
  
				<span class="float-end">
				  <i class="far fa-heart" style="cursor: pointer"></i>
  
				</span>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col hp">
		  <div class="card h-100 shadow-sm">
			<a href="#">
			  <img src="/static/img/{{p.4}}" class="card-img-top" alt="product.title" />
			</a>
			<div class="label-top shadow-sm">
			  <a class="text-white" href="#">SUS</a>
			</div>
			<div class="card-body">
			  <div class="clearfix mb-3">
				<span class="float-start badge rounded-pill bg-success">{{p.1}}</span>
  
				<span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">{{p.3}}</a></span>
			  </div>
			  <h5 class="card-title">
				<a target="_blank" href="#">{{p.2}}</a>
			  </h5>
  
			  <div class="d-grid gap-2 my-4">
  
				<a href="#" class="btn btn-warning bold-btn">Añadir al carrito</a>
  
			  </div>
			  <div class="clearfix mb-1">
  
				<span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
  
				<span class="float-end">
				  <i class="far fa-heart" style="cursor: pointer"></i>
  
				</span>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>

  html = render_template('plantillac.html')
        email_from = 'audioseapp@gmail.com'
        password = 'ewcwioojetsfuakl'
        email_to = correo
        email_message = MIMEMultipart()
        email_message['From'] = email_from
        email_message['To'] = email_to
        email_message['Subject'] = f'Bienvenido a AudioSE'
        email_message.attach(MIMEText(html, "html"))
        email_string = email_message.as_string()
        context = ssl.create_default_context()
        with smtplib.SMTP_SSL("smtp.gmail.com", 465, context=context) as server:
            server.login(email_from, password)
            server.sendmail(email_from, email_to, email_string)